body
{
	background-color:#111;
	color:#bbb;
	font-family:sans-serif;
}

h1,h2
{
	color:#900;
}

p
{
	margin-bottom:20px;
}

.section {
    position: absolute;
    border-top-width: 0px;
    border-bottom-width: 0px;
    left: 17px;
    border-left-width: 7px;
    border-right-width: 7px;
    width: 243px;
    opacity: 0.3;
    height: 108px;
    top: 169px;
    -webkit-border-image: url(Images/roundedRectangleShape.png) 0 7 0 7 stretch stretch;
}

#gauge {
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 150px;
    height: 150px;
    left: 70px;
    top: 16px;
}

#expenseField {
    color: black;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    display: block;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
	height: 35px;
    left: 37px;
    font-size: 15pt;
    top: 291px;
    font-family: Helvetica;
}

#addExpenseBtn {
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.414062) 0px -1px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    right: auto;
    bottom: auto;
    margin-top: 0px;
    width: 96px;
    height: 40px;
    top: 289px;
    left: 160px;
    font-family: Helvetica;
    opacity: 1;
}

#spentLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    left: 56px;
    font-family: Helvetica;
    font-size: 14px;
    color: rgb(153, 153, 153);
    top: 181px;
    right: 138px;
    width: auto;
    bottom: 140px;
    height: auto;
}

#remainingLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    font-family: Helvetica;
    font-size: 14px;
    left: 26px;
    color: rgb(153, 153, 153);
    top: 205px;
    right: 135px;
    width: auto;
    bottom: 120px;
    height: auto;
}

#cycleLabel {
    text-overflow: ellipsis;
    overflow: hidden;
    position: absolute;
    margin-top: 0px;
    left: 77px;
    font-family: Helvetica;
    font-size: 14px;
    color: rgb(153, 153, 153);
    top: 229px;
    right: 138px;
    width: auto;
    bottom: 99px;
    height: auto;
}
