<html>
	<head>
		<title>Budget Minder</title>
		<%= stylesheet_link_tag 'style' %>
	</head>
	<body>
		<% [:error].each do |key| %>
			<% unless flash[key].blank? %>
			<div class="flash" id="<%= key %>">
				<%= flash[key] %>
			</div>
			<% end %>
		<% end %>
		<div id='container'>
			<%= yield %>
		</div>
	</body>
</html>